{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'css.css' %}" type="text/css">
<script src="{% static 'jquery.js' %}"></script>
<script>
        {% comment %} $('').click(enter_link('start') { 
        $(this).parent().fadeOut(500);
        $({display:none;}
         });
         $( '' ).click(function() {
             $(set_loc(56.9566131, 24.108597);); {% endcomment %}
       
</script>
</head>
<body>
   {% comment %} <div class="topnav">
      <a class="active" >RIGA STREET GUESSER</a>
    </div> {% endcomment %}

    {% comment %} <a href="/" id=sb class="butt">Start</a> {% endcomment %}
</div>
 <header class="header" id="header">
    <h1 href="/" style="
    color: white;
">Riga Street Guesser</h1>


    <button role="button" class=button onclick="hideStart()" style="
    color: white;
">Are you ready for a chalange?</button>
</header>

</body>
</html>