 {% load staticfiles %}
 
 <!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Riga street guesser</title>
    
    <link rel="stylesheet" href="{% static 'css.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

    <script>
    function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
    </script>
  </head>

 

  <body background: color( #f1e0d3)>

      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="/timet">Time Trial</a>
          <a href="/freegame">Free game</a>
          <a href="/search">Search</a>
          <a href="/meme">Meme</a>
        </div>
        <div class="topnav">  
        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>
        <a class="active" href="/" style="
          display: block;
            text-align: center;
          " >RIGA STREET GUESSER</a>
          
          
        </div>
        
        <div class="header" style="height: 400px; font-family: 'Great Vibes', cursive; color: white;font-size: 120px;">Riga</div>
        <h1 style="text-align: center; font-size: 48px; ">About the town</h1>
        <div><div id="content" style="text-align: center; padding: 80px; ">
			
				
            <article id="post-198" style="background-color: wheat">
                <div class="entry-content clearfix">
                <p style="text-align: center; padding: 40px;"></p><div class="jetpack-video-wrapper"><span class="embed-youtube" style="text-align:center; display: block;"><iframe class="youtube-player" type="text/html" src="http://www.youtube.com/embed/Nhn_N6HtBp0?version=3&amp;rel=0&amp;fs=1&amp;autohide=2&amp;showsearch=0&amp;showinfo=1&amp;iv_load_policy=1&amp;wmode=transparent" allowfullscreen="true" style="border: 0px; display: block; margin: 0px auto; width: 677px; height: 408.005px;" data-ratio="0.6026666666666667" data-width="750" data-height="452"></iframe></span></div><p></p>
            <p style="font-size: 14pt">Unspoilt nature, pagan traditions, UNESCO heritage, pure food and 500 km of white sand beaches – this is a brief snapshot of Latvia. One of three Baltic States, Latvia is a one-of-a-kind mix of old and new, a bridge between the East and the West and proud to celebrate its centenary in 2018.</p>
            <p>&nbsp;</p>
            <h1>Riga – Northern European’s Art Nouveau capital<br>
            </h1>
            
            <p style="font-size: 14pt">In its 800 years of turbulent history, everyone from German knights to Swedish kings and Soviet commissars have left their footprints, and today Latvia’s capital is an exciting European metropolis at the crossroads of eastern and northern Europe.</p>
            
            <img data-attachment-id="247" src="https://i1.wp.com/www.aivp.org/riga/files/2019/02/Aleks_Kend_eliz-10b-1-1.jpg?resize=294%2C300" style="height: 250px; width:250px;">
            
            <p style="font-size: 14pt; padding: 40px;">Riga’s astonishing skyline tells the story, as the timeless Gothic spires in the Old Town mingle with the fantastic facades of one of the world’s richest collections of Art Nouveau on the grand boulevards.&nbsp;The central location for Art Nouveau style buildings is the downtown quarter known as the “Quiet Centre” – just a 10-minute stroll from Old Town. It is a vibrant feature in Riga’s history, with Albert Street truly the main gem. Each edifice there is a unique masterpiece of design and construction. The style’s active period was relatively short – from 1901 to 1908. Eight of the Albert Street buildings have been officially designated architectural landmarks.</p>
            </article></div>
            <div style="    background-color: #333;
            color: white;
            display: flex;
            justify-content: space-between;
            padding-right: 30px;
            padding-left: 30px;">
              <p>COPYRIGHT</p>
              <p>Edijs Petrovskis </p>
              <p>2019</p>
            </div>
</html>